@import "tailwindcss";

@theme {
  /* Colors */
 --color-background: #F9F8F6; 
  --color-foreground: #2A2A28;
  --color-accent: #A39B8E;

  /* Typography mapping to our Next.js fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

/* Global Styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Hide scrollbar for a cleaner look while Lenis handles smooth scrolling */
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  display: none;
}